body {
	font-size: 40px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right,#D4C36A , rgb(124, 194, 185)); /* Standard syntax */
}

h1 {
   
    color: rgba(0,0,0);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
    margin-bottom:0;
    margin-top: 3cm;
}


h3 {
	font-weight: 1500;
    color: rgba(0,0,0,2);
    text-align: left;
    margin-left: 3cm;
    text-transform: none;
    letter-spacing: 0.01em;
    font-size: 50px;
    padding-bottom: 0%;
    margin-bottom: 0.1cm;
    text-decoration:underline;
    text-decoration-color:black ;


}
h1{
    text-decoration: double underline;
    letter-spacing: 2px;
    font-weight:900;
    font-size: 70;
    
}
li{
    text-align: left;
    font-size: 30px;
    margin-left: 3.5cm;
    padding-top: 1em;
    margin-top: 0cm;
    letter-spacing: 0.1em;
    color: rgba(0,0,0,2);
    font-weight: 900;
    
}
a{
    color:rgba(0,0,0,.9);
    text-decoration-line: none;
}
a:hover{
    color:rgb(0, 0, 0);
    font-size: 120%;
    text-decoration: un;
}
.color1{
      border-style: groove;
}
.color2{
    border-style: groove;
}
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}
@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.sticky{
	position: fixed;
	top:0;
	width: 100%;
}
.zone{
    background-color: lightgrey;
    text-align: center;
    font-size:3em;
    border-radius:4px;
    padding: 2px;
    transition: all 0.3s linear;
}


.foot{
    letter-spacing: 0.2cm;
}
.bg{
     background-color: #FFAAAA;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5px;
}
.box {
    background-color: #dbdbdb;
    padding: 2px;
    margin: 2px;
    padding-bottom: 0.1cm;
}

.box > img {
    width: 100%;
}
.zone {
    /*padding:30px 50px;*/
    /*cursor:pointer;*/
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
